<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rgu.honours.dementiacareapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:name=".MobileCare"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserAccess.LogInActivity" />
        <activity android:name=".UserAccess.SignUpActivity" />
        <activity android:name=".Carer.CareHomeActivity" />
        <activity android:name=".UserAccess.PasswordResetActivity" />
        <activity android:name=".Patient.AddPatientActivity" />
        <activity android:name=".Patient.PatientProfile" />
        <activity android:name=".ThisIsMe.ThisIsMeActivity" />
        <activity android:name=".Family.FamilyActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".ThisIsMe.EditThisIsMeActivity" />
        <activity android:name=".Medication.MedicationActivity" />
        <activity android:name=".Medication.EditMedication" />
        <activity android:name=".Medication.AddMedicationActivity" />
        <activity android:name=".Medication.MedicationTabbedActivity"/>
        <activity android:name=".Family.AddFamily" />
    </application>

</manifest>